<div class="container">
  <div class="text-area">
    <nz-select [(ngModel)]="selectedText" (ngModelChange)="updateInputValue()">
      <nz-option *ngFor="let text of texts" [nzLabel]="text| HtmlDecoderPipe" [nzValue]="text"
      ></nz-option>
    </nz-select>
    <nz-form-label>Preview</nz-form-label>
    <div class="preview-box">
      <p [dir]="dir">
        {{he.decode(inputValue)}}
      </p>
    </div>
    <nz-form-label>Direction</nz-form-label>
    <!--  Direction Radio Group -->
    <nz-radio-group [(ngModel)]="dir">
      <label *ngFor="let dir of directions" [nzValue]="dir" nz-radio>{{dir}}</label>
    </nz-radio-group>
    <br/>
    <!--  Unicode Buttons -->
    <div class="unicode-buttons-group">

<!--      <button (click)="onUnicodeButtonClick(unicode)" *ngFor="let unicode of unicodeArr" nz-button nzType="default">-->
<!--        &lt;!&ndash;          [nzTooltipTitle]="unicode.description" nzTooltipPlacement="top" nz-tooltip&ndash;&gt;-->
<!--        {{unicode.abbreviation}}-->
<!--      </button>-->
      <button (click)="showSelectedText(); onRightToLeftClick()" nz-button >Right To Left</button>
      <button (click)="showSelectedText(); onLeftToRightClick()" nz-button >Left To Right</button>
<!--      <button (click)="UndoUnicode(lastAddedUnicode)" nz-button nzType="primary">Undo</button>-->
      <button (click)="onResetButtonClick()" nz-button nzType="primary">Reset</button>
    </div>
    <br/>
    <nz-form-label>Edit Text Here</nz-form-label>
    <textarea #textAreaElement
              (click)="onTextAreaClick(textAreaElement)"
              (ngModelChange)="onChange(inputValue)" [(ngModel)]="inputValue"
              nz-input
              rows="6">
  </textarea>
<!--    <nz-form-label>With Unicode</nz-form-label>-->
<!--    <textarea #textAreaElement-->
<!--              [value]="he.encode(inputValue)" nz-input-->
<!--              rows="6">-->
<!--    </textarea>-->
    <br/>
  </div>
<!--  <div class="table-area">-->
<!--    <nz-table #basicTable [nzData]="unicodeArr"-->
<!--              [nzFrontPagination]="false"-->
<!--              [nzShowPagination]="false"-->
<!--    >-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>abbreviation</th>-->
<!--        <th>code</th>-->
<!--        <th>description</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let data of basicTable.data">-->
<!--        <td>{{ data.abbreviation }}</td>-->
<!--        <td>{{ he.encode(data.code) }}</td>-->
<!--        <td>{{ data.description }}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </nz-table>-->
<!--  </div>-->

</div>
